<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.movie.mapper.MovieMapper">
    <insert id="insertMovie" parameterType="com.example.movie.dto.MovieDto">
        INSERT INTO tbl_movies(movieId, title, directorNm, actorNm, nation, type, posters)
        VALUES (#{movieId}, #{title},  #{directors.directors[0].directorNm}, #{actors.actor[0].actorNm}, #{nation}, #{type},
                #{posters});
    </insert>
</mapper>
