<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.movie.mapper.MovieMapper">
    <insert id="insertMovie" parameterType="com.example.movie.dto.MovieDto">
        INSERT INTO tbl_movies(movieSeq, title, directorNm, actorNm, keywords, nation, type, posters, prodYear,
                               repRlsDate, runtime)
        VALUES (#{movieSeq}, #{title}, #{directors.directors[0].directorNm}, #{actors.actor[0].actorNm}, #{keywords},
                #{nation}, #{type}, #{posters}, #{prodYear}, #{repRlsDate}, #{runtime})
        ON DUPLICATE KEY UPDATE title       = #{title},
                                directorNm= #{directors.directors[0].directorNm},
                                actorNm     = #{actors.actor[0].actorNm},
                                keywords    = #{keywords},
                                nation      = #{nation},
                                type        = #{type},
                                posters     = #{posters},
                                prodYear    = #{prodYear},
                                repRlsDate = #{repRlsDate},
                                runtime     = #{runtime}
    </insert>
</mapper>
